.donate-content-head{
    color: #24baf1;
}

.login-button{
    background-color: #24baf1;
    border: none;
    border-radius: 5px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.login-button:hover{
    background-color: #76d1f5;
}

.login-detail{
    font-size: 16px;
    color: #a4a5a5;
}

h3{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.box{
    border-radius: 5px;
    margin-top: 0px;
    box-shadow: none;
    background-color: white;
    box-shadow: none;
    border: solid;
    border-color: #24baf1;
    border-width: 2px;
}

.box:focus {
  outline-color: transparent;
  outline-style: none;
}

.underline{
    border-bottom: dotted;
}

.step-bar img{
}


.unit-choose{
    display:inline;
    border: solid;
    border-color: #24baf1;
    border-width: 2px;
    background-color: white;
    box-shadow: none;
    border-radius: 10px;
    color: black;
    padding-top: 4px;
    padding-bottom: 4px;
}

.kg-choose{
    border-right: none;
}

.unit-choose.active{
    background-color: #24baf1;
    border-color: #24baf1;
}

.unit-choose.active:hover{
    background-color: #24baf1;
    border-color: #24baf1;
}

.unit-choose:hover{
    background-color: #76d1f5;
    border-color: #24baf1;
}

.unit-choose:active{
    background-color: #24baf1;
    border-color: #24baf1;
}

.submit-button {
    border: solid;
    border-color: #24baf1;
    border-width: 2px;
    background-color: white;
    box-shadow: none;
    border-radius: 10px;
    color: #a4a5a5;
}

.submit-button:hover{
    color:black;
    background-color: #24baf1;
}

button:focus {
  outline-color: transparent;
  outline-style: none;
}

input:focus {
  outline-color: transparent;
  outline-style: none;
}

.map img{
    width: 100%;
}

#small-cal{
    margin-top: 5px;
    margin-left: 5px;
}

.calendar{
    width: 100%;
}